.news {
  background-color: whitesmoke;
  height: 20vh;
  display: flex;
  align-items: center;
  padding:10px;
}
.news img{
  width: 250px;
}

.news-content {
  padding-left: 10px;
}

.carousel-caption h5 {
  font-size: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}