.row {
  margin: 0px;
}
.main {
  background-color: red;
  height: 80vh;
}

.calendar {
  background-color: orangered;
  height: 80vh;
}

.news {
  background-color: whitesmoke;
  height: 20vh;
}

.meteo {
  background-color: whitesmoke;
  height: 20vh;
}

.meteo-today {
  font-size: 40px;
}
