.calendars {
  height: 80vh;
  padding-right: 20px;
  overflow: hidden;
}

.calendar {
  margin-top: 15px;
  display: flex;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.calendar-date {
  min-width: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  .down {
    border-top: #3e3939 3px solid;
  }
}

.calendar-content {
  border-left: #3e3939 3px solid;
  margin-left: 15px;
  padding: 5px 5px 5px 15px;
  display: flex;
  align-items: center;
  p {
    margin: 0px;
    line-height: 1.4;
    opacity: .7;
  }
  h4 {
    margin: 0px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
  }
}
